@font-face {
    font-family: 'Roboto';
    src:url("../fonts/TextLight.otf")
}
  
* {box-sizing: border-box;
      padding: 0;
      margin: 0;
}
    
body{
    font-family: "Roboto";
    height: 100%;
    font-size: 22px;
}


/*-----------------------HEADER--------------------*/
header{
    height: 100%;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    background-color: white;
}

.wraper{
    background-color: rgb(255, 255, 255);
    max-width: 997px;
    margin: 0 auto;
    height: 72px;
    position: relative;
}

.wraper .logo{
    max-width: 150px;
    position: absolute;
    top: 30px;
}
  
.wraper a img{
    max-width: 19px;
    max-height: 22px;
}
  
.wraper input{
    width: 78px;
    height: 40px;
    position: absolute;
    left: 850px;
    top: 16px;
    outline: none;
    border: 0.5px solid grey;
    border-radius: 16px;
    background: #FFFFFF;
}
  
.wraper input:hover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
  
.wraper input:active{
    background-color: black;
    color: #FFFFFF;
}
/*-----------------------SECTION--------------------*/
section{
    max-width: 1200px;
    margin: 0px auto;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-rows: 90px 1fr 130px 120px 200px; 
    row-gap: 20px;
}

.wrapper h2 {
    margin: 20px 0px 20px 0px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

.wrapper .adress{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wrapper .adress .tittle{
    grid-column: 1/3 ;
}

.wrapper .adress .labels label{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5px;
}

.wrapper .adress .inputs input{
    display: flex;
    flex-direction:row;
    margin: 8px 0px 0px 10px;
    font-size: 19px;
    outline: none;
    border: 1px solid black;
    width: 230px;
}
.wrapper .adress .inputs input:focus{
    box-shadow:  0 0 10px rgb(48, 161, 33) ;
    border: none;
}

.wrapper .adress label{
    text-align: right;
}

.wrapper .adress textarea{
    margin: 8px 0px 0px 10px;
    width: 230px;
    font-size: 19px;
    outline: none;
    border: 1px solid black;
}

.wrapper .adress textarea:focus{
    box-shadow:  0 0 10px rgb(48, 161, 33) ;
    border: none;
}

.wrapper .promo #p_code{
    margin: 15px 6px 0px 0px;
    font-size: 19px;
}

.wrapper .promo #buttom{
    font-size: 19px;
    height: 26px;
    width: 70px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.wrapper .promo #buttom:hover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.329);
}

.wrapper .promo #buttom:active{
    background-color: black;
    color: white;
}

.wrapper .payment select{
    width: 227px;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgb(239, 239, 239);
    font-size: 19px;
    padding-left: 20px;
}


.wrapper .time .blok1 ,.blok2{
    display: inline-block;
    margin-right: 18px;
    text-align: right;
}

.wrapper .time .blok2 #schedule{
    font-size: 19px;
    height: 25px;
    outline: none;
    border: none;
    background-color: rgb(239, 239, 239);
}

.wrapper .time .blok2{
    text-align: left;
}

section button{
    margin: 40px auto;
    font-size: 19px;
    min-height: 46px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #E0E0E0;
}

section button:hover{
    background-color: #3e9920
}
/*-----------------------FOOTER--------------------*/

.up-batton {
    position: absolute;
    right: 1px;
    bottom: 30px;
  }
  
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  footer a:hover{
    text-decoration: underline;
  }
  
  
  footer {
    grid-template-rows: repeat(4, 1fr);
    background: #262626;
    color: white;
  }
  
  footer .footercontainer{
    max-width: 997px;
    margin: 0 auto;
    position: relative;
  }
  
  footer .header{ 
    padding-top: 56px;
  }
  
  footer .header .logo img{
    max-width: 190px;
    max-height: 20px;
  }
  
  footer .medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
  }
  
  footer .apps{
    text-align: center;
    margin: 41px 0px 39px 0px; 
  }
  
  
  .link1{
    display: inline-block;
    margin-right: 50px;
  }
  
  .link2{
    display: inline-block;
  }
  
  footer .apps img{
    max-width: 120px;
    max-height: 35px;
  }
  
  footer .medium {
    margin-top: 37px;
  }
  
  .blok1{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  
  footer .medium .blok select {
    height: 40px;
    width: 227px;
    background-color: #3B3B3B;
    background-image: url("../img/world.svg");
    background-size: 18px;
    background-position: 16px  center ;
    background-repeat: no-repeat;
  
    border-radius: 2px; 
    outline: none;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    padding-left: 36px;
  
  
  }
  
  footer .medium .blok select{
    border: none;
    box-shadow: none;
    
  }
  
  footer .medium .blok p{
    margin-top: 23px;
  }
  
  footer .medium .blok span{
    color: green;
  }
  
  #world{
    position: absolute;
    top: 147px;
    left: 10px
  }
  
  footer .medium .blok #img{  
    width: 15px;
    height: 15px;
  }
  
  footer .footercontainer .footergrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin: 40px 0px 0px 0px;
    padding-bottom: 40px;
  }
  
  ul{
    list-style-type:none
  }
  
  li{
    margin-bottom: 23px;
  }



  @media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
  }



  