@font-face {
    font-family: 'Roboto';
    src:url("../fonts/TextLight.otf")  format("opentype");
  }
  
  * {box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  
  html{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
    font-family: 'Roboto', "Ð¡yrylik";
    font-style: normal;
  }
  
  header{
    height: 100%;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  }
  
  /*-----------------------HEADER--------------------*/

.wraper{
    background-color: rgb(255, 255, 255);
    max-width: 997px;
    margin: 0 auto;
    height: 72px;
    position: relative;
  }
  
  .wraper .logo{
    max-width: 120px;
    position: absolute;
    top: 30px;
  }
  
  .wraper a img{
    max-width: 19px;
    max-height: 22px;
  }
  
  .wraper input{
    width: 78px;
    height: 40px;
    position: absolute;
    left: 850px;
    top: 16px;
    outline: none;
    border: 0.5px solid grey;
    border-radius: 16px;
    background: #FFFFFF;
  }
  
  .wraper input:hover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  }
  
  .wraper input:active{
    background-color: black;
    color: #FFFFFF;
  }
  
  .wraper #basket{
    position: absolute;
    left: 965px;
    top: 25px
  }
  
  
  section {
    max-width: 997px;
    margin:  0px auto;
    height: 100%;
    position: relative;
  }
  
  section h1{
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-size: 30px;
    font-weight: bold;
  }

  section img{
      height: 100%;
      width: 100%;
  }

  section input{
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-52%, -50%) ;
    height: 7%;
    width: 19%;
    padding: 0px 8px;
    outline: none;
    border: 1px rgba(109, 106, 106, 0.39) solid;
    border-radius: 10px ;
    cursor: pointer;
    background-image: url("../img/mylogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  
  section input:hover{
    
  }

  section input:active{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.753);
  }
  
  /*-----------------------FOOTER--------------------*/
  
 
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  footer a:hover{
    text-decoration: underline;
  }
  
  
  footer {
    grid-template-rows: repeat(4, 1fr);
    background: #262626;
    color: white;
  }
  
  footer .footercontainer{
    max-width: 997px;
    margin: 0 auto;
    position: relative;
  }
  
  footer .header{ 
    padding-top: 56px;
  }
  
  footer .header .logo img{
    max-width: 190px;
    max-height: 20px;
  }
  
  footer .medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
  }
  
  footer .apps{
    text-align: center;
    margin: 41px 0px 39px 0px; 
  }
  
  
  .link1{
    display: inline-block;
    margin-right: 50px;
  }
  
  .link2{
    display: inline-block;
  }
  
  footer .apps img{
    max-width: 120px;
    max-height: 35px;
  }
  
  footer .medium {
    margin-top: 37px;
  }
  
  .blok1{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
  
  footer .medium .blok select {
    height: 40px;
    width: 227px;
    background-color: #3B3B3B;
    background-image: url("../img/world.svg");
    background-size: 18px;
    background-position: 16px  center ;
    background-repeat: no-repeat;
  
    border-radius: 2px; 
    outline: none;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    padding-left: 36px;
  }
  
  footer .medium .blok select{
    border: none;
    box-shadow: none;
  }
  
  footer .medium .blok p{
    margin-top: 23px;
  }
  
  footer .medium .blok span{
    color: green;
  }
  
  #world{
    position: absolute;
    top: 147px;
    left: 10px
  }
  
  footer .medium .blok #img{  
    width: 15px;
    height: 15px;
  }
  
  footer .footercontainer .footergrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin: 40px 0px 0px 0px;
    padding-bottom: 40px;
  }
  
  ul{
    list-style-type:none
  }
  
  li{
    margin-bottom: 23px;
  }
  
  
  @media screen and (max-width: 968px) {
    .wraper input, .wraper a{
      left: auto;}
    
    .wraper .logo{
      left: 8px;
    }
    
    .wraper input{
      right: 24px;
    }
  
    .wraper a{
      right: 25px;
    }
  
    section input{
   
        cursor: pointer;
        
      }
  
    footer .medium .blok p{
    padding-bottom: 19px;
    margin-top: 15px;
    }
  
    footer .footercontainer{
      font-size: 13px;
    }
  
    footer .footercontainer {
      padding-left: 8px;
    }
    footer .footercontainer img{
      width: 100%;
    }
    
    footer .apps img{
      height: 35px;
    }
  
    .blok1 .it img{
      width: 18px;
    }
  
  
  }
  

  
  @media screen and (max-width: 623px) {
    
    .wraper .logo{
      left: 8px;
    }
    .wraper input{
      right: 16px;
    }
    

    section input{
        cursor: pointer;
        height: 9%;
        width: 17%;
      }


    section h1{
        font-size: 16px; 
    }  

    footer .medium{
      grid-template-columns:  1fr;
      row-gap: 20px;
    }
  
    footer .apps {
      margin: 22px 0px 18px 0px;
  }
  
    footer .footercontainer .footergrid{
      grid-template-columns:  1fr;
      row-gap: 30px;
    }
  
  }
  
  
  @media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
  }